<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online_hostel_management_system">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Online Hostel Management System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Online_Hostel_Management_System">
        <activity
            android:name=".ViewFoodCourtMenu"
            android:exported="true" />
        <activity
            android:name=".PlaceComplaint"
            android:exported="true" />
        <activity
            android:name=".RoomAllocationRequest"
            android:exported="true" />
        <activity
            android:name=".AddRoomTypeFee"
            android:exported="true" />
        <activity
            android:name=".FoodCourtMenu"
            android:exported="true" />
        <activity
            android:name=".MaintainHostelExpense"
            android:exported="true" />
        <activity
            android:name=".MaintainRoomDetails"
            android:exported="true" />
        <activity
            android:name=".NoticeBoard"
            android:exported="true" />
        <activity
            android:name=".StaffHomePage"
            android:exported="true" />
        <activity
            android:name=".AdminHomePage"
            android:exported="true" />
        <activity
            android:name=".StudentHomePage"
            android:exported="true" />
        <activity
            android:name=".StudentDetails"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationForm2"
            android:exported="true" />
        <activity
            android:name=".RegistrationForm"
            android:exported="true" />
        <activity
            android:name=".ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>